@import "../../../public/assets/lib/bootstrap/dist/css/bootstrap.min.css";
@import "../../../public/assets/lib/font-awesome/css/font-awesome.min.css";
@import "../../../public/assets/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css";
@import "../../../public/assets/lib/toastr/toastr.min.css";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,body{
    height : 100%;
    width : 100%;
    margin : 0px;
    padding : 0px;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{

    background  : #2A2B2E;

    #root{
        height: 100%;
        width: 100%;
        .container-fluid{
            padding: 70px 0px 0px 0px;
        }
        a:hover {
            cursor:pointer;
        }
    }

    @import "navbar";
}


@import "authentication";
@import "sidebar";
@import "posts";
@import "config";
@import "jquery.timepicker";
