@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,body{
    height : 100%;
    width : 100%;
    margin : 0px;
    padding : 0px;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{

    @import "navbar";

    background  : #2A2B2E;

    .container-fluid{
        padding: 0px;
        padding-top: 70px;
    }

    .navbar{
        z-index: 2;
        border-radius : 0px;
    }

    .nav-tabs{
        li a{
            color:white;

            &:hover{
                color :#36465d;
            }
        }
    }

    a:hover {
        cursor:pointer;
    }

    #flash-message{
        position: absolute;
        top: 60px;
        margin-left : auto;
        margin-right : auto;
        display: none;
        width : 580px;

        i{
            margin-right : 10px;
        }
    }
}


@import "authentication";
@import "sidebar";
@import "posts";
@import "config";
@import "jquery.timepicker";
