.grid{
    position: relative;
    height : 100%;

    .row{
        margin-bottom : 20px;
        div{
            margin : 0px auto;
            float: none;
        }

        .posted{
            color:white;
            text-align:center;
        }
    }

    .pagination {
        text-align: center;
    }
}

.post{

    &:hover{
        .edit-post{
            display: block;
        }
    }



    .edit-post{
        position:absolute;
        top: 20px;
        right: 30px;
        color:#36465d;
        font-size: 20px;
        display: none;

        &:hover{
            color:grey;
        }
    }

    .bootstrap-tagsinput{
        margin-top: 20px;
        clear:both;
        width : 100%;
        display: block;

        input{
            width : 50px;
        }
    }

    .post-now{
        margin-right : 5px;
    }

    .image-caption{
        width: 100%;
    }

    .image-caption, .update-post{
        display:inline-block;
        float:left;
    }

    .update-post{
        margin: 5px;
    }

    .post-now, .delete-now{
        margin-top: 15px;
        display : none;
    }

    h3, .image-caption{
        display: inline-block;
    }


    &:hover{
        .post-now,.delete-now{
            display: inline-block;
        }
    }
}


