#sidebar{
  display: block;
  height: 100%;
  background-color:#222222;
  padding: 0px;

  @media only screen and (min-width : 979px) {
    padding-top: 50px;
    clear:both;
    position:relative;
  }

  @media only screen and (max-width : 1920px) {
    position:fixed;
    left: 0px;
    top: 0px;
  }

  @media only screen and (max-width : 1366px) {
    position:fixed;
    left: 0px;
    top: 0px;
  }

  @media only screen and (max-width : 1200px) {
    position:fixed;
    left: 0px;
    top: 0px;
  }

  @media only screen and (max-width : 979px) {
    clear:both;
    position:relative;
  }

  @media only screen and (max-width : 767px) {
    clear:both;
    position:relative;
  }

  li{
    height: 50px;
    list-style: none;
    width: 100%;

    a{
      text-decoration: none;
      padding: 15px;
      display: block;
      width: 100%;
      height: 100%;
      color:white;

      .fa{
        margin-right: 5px;
      }

      &:hover, &.active{
        color:black;
        background-color:white;
      }
    }
  }
}